<script>
  let chartData = {
    Users: "<%= usersCount %>",
    Posts: "<%= postsCount %>",
    Views: "<%= viewsCount %>",
    Comments: "<%= commentsCount %>",
  };
</script>
<!-- Bar Simple Start -->
<div class="col-lg-8 col-md-6 col-12 mb-30">
  <div class="box">
    <div class="box-head">
      <h4 class="title">نمودار آماری کل</h4>
    </div>
    <div class="box-body">
      <div
        id="example-echart-bar-simple"
        class="example-echart-bar-simple example-echarts"
      ></div>
    </div>
    <!-- Bar Simple End -->
  </div>
</div>
