<!------------------ Success Notification Start ------------------>
<% if(success.length > 0){ %>
<div class="row">
  <div class="alert alert-success w-100 mb-5 mr-15 mt-5 ml-15" role="alert">
    <strong> <%= success[0] %></strong>
    <button class="close" data-dismiss="alert">
      <i class="zmdi zmdi-close"></i>
    </button>
  </div>
</div>
<% } %>
<!------------------ Success Notification End ------------------>
