<!-- Top Report Start -->
<div class="col-xlg-3 col-md-6 col-12 mb-30">
  <div class="top-report">
    <!-- Head -->
    <div class="head">
      <h4>تعداد <%= reportName %> :</h4>
    </div>

    <!-- Content -->
    <div class="content">
      <h2><%= count %></h2>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="progess">
        <div class="progess-bar" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>
<!-- Top Report End -->
